.to-radio {
  margin: 25px 0;
}

.radio-container {
  display: flex;
  justify-content: space-between;
}

.to-container {
  width: 48%;
  padding: 0;
}

.to-container input[type="radio"] {
  display: none;
}

.to-container input[type="radio"] + label {
  box-shadow: var(--lower-shadow);
  background-color: white;
  padding: 15px 30px;
  font-size: 1rem;
  display: block;
  text-align: center;
}

.to-container input[type="radio"]:checked + label {
  background-color: var(--black-blueberry);
  color: var(--turquoise);
}

@media only screen and (max-width: 360px) {
  .to-radio {
    margin: 15px 0;
  }

  .to-radio h4 {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 390px) {
  .radio-container {
    flex-direction: column;
  }

  .to-container {
    width: 100%;
    padding: 10px 0;
  }

  .to-radio h4 {
    margin-bottom: 5px;
  }
}
