.list-container {
  height: calc(100% - 265px);
  overflow-y: scroll;
}

.loading-container {
  margin-top: calc(50% - 50px);
}

.loading-svg {
  height: 70px;
  width: 100%;
}

.loading-svg path {
  fill: var(--black-blueberry);
}

.local-data-msg {
  font-size: 1rem;
}

.refresh-btn {
  margin-top: 10px;
}

.refresh-btn button {
  padding: 15px;
  background: none;
}

.refresh-btn button:active {
  background-color: grey;
}

.refresh-btn svg path {
  fill: black;
}

@media only screen and (max-width: 390px) {
  .list-container {
    height: calc(100% - 365px);
  }

  .time-container {
    font-size: 1rem;
  }

  .time-container .next-to-arrive {
    font-size: 1rem;
  }

  .time-container.current {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 360px) {
  .list-container {
    height: calc(100% - 310px);
  }
}
