.contact-container {
  font-size: 1rem;
}

.contact-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-container .close-btn {
  padding: 0 15px;
  position: relative;
  top: -13px;
}

.contact-container p {
  margin-top: 0;
}

.contact-container input,
.contact-container textarea {
  width: 100%;
  padding: 15px;
  margin: 7px 0;
  margin-bottom: 20px;
  background-color: var(--black-blueberry-light);
  color: var(--light-fg);
  font-size: 1rem;
  border: none;
}

.contact-container textarea {
  margin-bottom: 0;
}

.contact-container button {
  position: relative;
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  float: right;
}

.contact-container .char-counter {
  text-align: right;
  margin-bottom: 15px;
}

.send-btn:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.send-btn:disabled {
  opacity: 0.2;
}

.sent-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.91rem;
  text-align: left;
  width: 100%;
  padding: 10px;
  background: var(--success-bg);
}

.sent-label svg {
  fill: white;
  margin: 0 10px;
}

.send-btn {
  padding-right: 0;
}

.send-btn .loading-svg {
  margin-right: 15px;
  height: 25px;
  width: 25px;
}

.send-btn .loading-svg path {
  fill: white;
}

.send-btn .btn-content-svg {
  display: flex;
  align-items: center;
}

.send-btn .btn-content-svg svg {
  margin-right: 15px;
}

.contact-container .warning-msg svg {
  margin-right: 10px;
}

.contact-container .warning-msg {
  padding: 15px;
  font-size: 1rem;
  text-align: left;
}

.close-warning-btn {
  padding: 0;
  margin-left: 5px;
}

.invalid-format-badge,
.email-lbl {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.invalid-format-badge svg {
  height: 13px;
  fill: var(--error-bg);
}

.invalid-format {
  font-size: 0.7rem;
  color: var(--error-bg);
}

.help-input-row .invalid-format-input {
  padding: 14px;
  border: 1px solid var(--error-bg);
}
