.dropbown {
  background: none;
  border: none;
  font-size: 1rem;
  width: calc(100% - 40px);
  padding: 15px;
}

.from-dropdown svg {
  height: 17px;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.from-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.from-header h4 {
  margin: 0;
  padding: 10px 0;
  font-size: 1rem;
}

.seasson-dropbown-container {
  display: flex;
}

.seasson-dropbown {
  font-size: 0.7rem;
  font-weight: bold;
  background: none;
  border: none;
  border-radius: 0;
  padding: 6px;
  padding-right: 0;
}

.from-header svg {
  position: initial;
  margin: auto;
  height: 14px;
}

.from-dropdow-container {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;
  box-shadow: var(--upper-shadow);
  border: none;
  border-radius: 0;
}
