.toast-container {
  z-index: 20;
  position: fixed;
  bottom: 1%;
  left: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  width: 98%;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.toast-container span {
  padding: 15px;
  font-size: 1rem;
}

.close-btn,
.toast-close-btn {
  color: var(--bg-color);
  background: none;
  border: none;
}

.close-btn {
  height: 24px;
}

.toast-close-btn {
  padding: 15px;
}
.toast-close-btn:first-child {
  margin-right: 15px;
}

.toast-enter {
  opacity: 0;
}

.toast-enter-active {
  opacity: 1;
  transition: opacity 700ms, transform 700ms;
}

.toast-exit {
  opacity: 1;
}

.toast-exit-active {
  opacity: 0;
  transition: opacity 700ms, transform 700ms;
}

.toast-container span.toast-btn-container {
  padding: 0;
}

.refresh-icon path,
.close-icon polygon {
  fill: white;
}

.close-icon {
  transform: rotate(45deg);
}

@media only screen and (min-width: 600px) {
  .toast-container {
    max-width: 400px;
    left: calc(50% - 200px);
  }
}
