.info-btn {
  position: relative;
  height: 24px;
  background: none;
  padding: 0;
  margin: 0;
  border: 0;
}

.info-modal {
  z-index: 10;
  position: absolute;
  right: 35px;
  top: 42px;
  background-color: var(--black-blueberry);
  color: white;
  padding: 20px;
  max-width: 80vw;
}

.info-enter {
  opacity: 0;
}
.info-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.info-exit {
  opacity: 1;
}

.info-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.villarino-link {
  color: white;
  text-decoration: none;
  font-weight: 800;
}

.info-icon-container {
  position: relative;
}

.notif-red-dot {
  position: absolute;
  right: -3px;
  top: -3px;
  height: 12px;
  width: 12px;
  background: red;
  border-radius: 50%;
  border: 2px solid white;
}

.dot-enter {
  opacity: 0;
  transform: scale(0);
}
.dot-enter-active {
  opacity: 1;
  transform: scale(1.1);
  transition: all 400ms;
}

.dot-exit {
  transform: scale(1.1);
  opacity: 1;
}

.dot-exit-active {
  opacity: 0;
  transform: scale(0);
  transition: all 400ms;
}

.warning-msg {
  margin-top: 10px;
  background-color: rgba(255, 0, 0, 0.5);
  padding: 5px;
  border-radius: 3px;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .info-modal {
    width: 60vw;
    right: 17vw;
  }
}
@media only screen and (min-width: 768px) {
  .info-modal {
    width: 45vw;
    right: 25vw;
  }
}
