.info-modal {
  z-index: 10;
  position: absolute;
  right: 10px;
  top: 42px;
  background-color: var(--black-blueberry);
  color: white;
  padding: 20px;
  max-width: 95vw;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.7);
  font-size: 1rem;
}

.info-modal h3 {
  margin-top: 0;
}

.warning-msg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  background-color: rgba(255, 0, 0, 0.5);
  padding: 10px;
  border-radius: 3px;
  text-align: center;
}

.warning-msg svg {
  fill: white;
}

.no-connection-icon {
  height: 35px;
  width: 50px;
  padding: 6px;
}

.no-connection-icon path {
  fill: white;
}

@media only screen and (min-width: 600px) {
  .info-modal {
    width: 70vw;
    right: 17vw;
  }
}
@media only screen and (min-width: 768px) {
  .info-modal {
    width: 45vw;
    right: 25vw;
  }
}
