.info-modal {
  z-index: 10;
  position: absolute;
  right: 10px;
  top: 42px;
  background-color: var(--black-blueberry);
  color: white;
  padding-bottom: 0;
  max-width: 95vw;
  box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.6);
  font-size: 1rem;
}

.info-modal-content {
  padding: 10px 20px 0 20px;
}
.info-modal h3 {
  margin-top: 0;
}

.info-modal section {
  margin-top: 10px;
  height: 300px;
  overflow-y: scroll;
}

.warning-msg,
.update-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.5);
}

.update-badge {
  padding: 5px;
  background-color: var(--black-blueberry-light);
}

.warning-msg svg {
  fill: white;
}

.no-connection-icon {
  height: 30px;
  padding: 6px;
}

.no-connection-icon path {
  fill: white;
}

.setting-nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 45px;
  padding-bottom: 0;
  position: relative;
  background-color: var(--black-blueberry);
}

.setting-nav-bar button {
  cursor: pointer;
  padding: 15px;
  background: none;
  border: none;
}

.setting-nav-bar button svg {
  fill: white;
}

.current-panel svg path {
  fill: var(--turquoise);
}

.modal-backdrop {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
}

@media only screen and (min-width: 600px) {
  .info-modal {
    width: 70vw;
    right: 17vw;
  }
}
@media only screen and (min-width: 768px) {
  .info-modal {
    width: 45vw;
    right: 25vw;
  }
}
