.app-container {
  height: 100vh;
  padding: 20px;
}

.current-btn {
  background: none;
  border: none;
  border-radius: 50%;
  background-color: var(--black-blueberry);
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 25px 26px;
  box-shadow: 10px 10px 20px rgba(45, 45, 68, 0.7);
}

.current-btn:active {
  bottom: 10px;
  right: 10px;
  box-shadow: 5px 5px 20px rgba(45, 45, 68, 0.8);
}

.current-btn svg {
  fill: var(--turquoise);
}
