html {
  box-sizing: border-box !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Solve the sticky outline in devices with touch input when click some element*/
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none !important;
}

:root {
  --black-blueberry: #2d2d44;
  --black-blueberry-light: #424257;
  --light-fg: white;
  --light-alpha-fg: #9999aa;
  --turquoise: #33e1ed;
  --error-bg: #fe4a4a;
  --success-bg: green;
  --upper-shadow: 0px 15px 45px rgba(45, 45, 68, 0.3);
  --lower-shadow: 2px 6px 20px rgba(45, 45, 68, 0.35);
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: none;
  box-shadow: none;
}
