.list-container {
  height: calc(100% - 265px);
  overflow-y: auto;
}

.time-container {
  margin: auto;
  margin-bottom: 15px;
  padding: 15px;
  font-size: 1.5rem;
  background-color: lightgray;
  text-align: center;
  width: 85%;
}

.time-container.current {
  background-color: var(--black-blueberry);
  color: var(--turquoise);
  width: 100%;
  padding: 16px;
  font-size: 2.5rem;
}

.time-container .next-to-arrive {
  font-size: 1.2rem;
}

.loading-container {
  margin-top: calc(50% - 50px);
}

.loading-svg {
  height: 70px;
  width: 100%;
}

.loading-svg path {
  fill: var(--black-blueberry);
}

.holiday-container {
  font-size: 1rem;
}

.local-data-msg {
  font-size: 1rem;
}

.refresh-btn {
  margin-top: 10px;
}

.refresh-btn button {
  padding: 15px;
  background: none;
}

.refresh-btn button:active {
  background-color: grey;
}

.refresh-btn svg path {
  fill: black;
}

@media only screen and (max-width: 390px) {
  .list-container {
    height: calc(100% - 345px);
  }

  .time-container {
    font-size: 1rem;
  }

  .time-container .next-to-arrive {
    font-size: 1rem;
  }

  .time-container.current {
    font-size: 1.5rem;
  }
}
