.list-container {
  height: calc(100% - 265px);
  overflow-y: scroll;
}

.time-container {
  margin: auto;
  margin-bottom: 15px;
  padding: 15px;
  font-size: 1.5rem;
  background-color: lightgray;
  text-align: center;
  width: 85%;
}

.time-container.current {
  background-color: var(--black-blueberry);
  color: var(--turquoise);
  width: 100%;
  padding: 16px;
  font-size: 2.5rem;
}

.time-container .next-to-arrive {
  font-size: 1.2rem;
}

.loading-svg {
  height: 70px;
  width: 100%;
  margin-top: 100px;
}

.loading-svg path {
  fill: var(--black-blueberry);
}
